@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

.counterMachine {
  background-color: #1e364e;
  border-color: black;
  border-width: 5px;
  text-align: center;
  justify-content: center;
  width: 30%;
  margin: 40vh auto auto auto;
  align-items: center;
  display: flex;
  height: 200px;
  padding-bottom: 12%;
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem #49155a);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* background-color: #b4a7d1; */
  background-image: url("background.gif");
}

#Subtract {
  background-color: #f20c4a;
  color: honeydew;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow: 3px 3px 3px #60051d;
  font-size: 15px;
}
#Add {
  background-color: #0ad3ad;
  color: honeydew;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow: 3px 3px 3px #056b58;
  font-size: 15px;
}

#Reset {
  background-color: #efa818;
  color: honeydew;
  font-family: "Pixelify Sans", sans-serif;
  box-shadow: 3px 3px 3px #7b560c;
  font-size: 15px;
}
#Subtract:hover,
#Add:hover,
#Reset:hover {
  background-color: gold;
  cursor: pointer;
}

button {
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 10px;
}

h1 {
  font-style: normal;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: khaki;
}
#Title {
  margin-top: 8%;
  height: 60px;
  text-align: center;
  margin-top: 10em;
}
p {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 60px;
  color: lavender;
}
